.mat-table {
  width: 100%;

  .mat-cell:last-child,
  .mat-header-cell:last-child {
    max-width: 50px;
  }
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;

    .mat-header-row {
      display: none;
    }

    caption {
      font-size: 1em;
    }

    .mat-row {
      border-bottom: 10px solid #303030;
      border-top: 10px solid #303030;
      display: block;
      min-height: auto;
    }

    .mat-cell {
      border-bottom: 1px solid #ddd;
      padding-left: 24px;
      padding-right: 24px;
      font-size: 1em;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      &:before {
        content: attr(data-label);
        font-weight: normal;
        font-size: 0.85em;
      }

      &:nth-last-child(2) {
        border-bottom: 0;
        margin-bottom: -18px;
      }

      &:last-child {
        display: none;
      }
    }
  }
}
